In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [260]:


# Specify the file path
file_path = "adult.data"  # Replace "path_to_your_file.csv" with the actual path to your CSV file
column_names=["age", "workclass", "fnlwgt", "education", "education-num", "marital-status",
              "occupation", "relationship",  "race", "sex", "capital-gain", 
              "capital-loss", "hours-per-week", "native-country", "salary"]
# Load the CSV file into a Pandas DataFrame
census = pd.read_csv(file_path, names=column_names, sep=',')

# Display the DataFrame

census

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [261]:
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [262]:
census['occupation'].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [263]:
census['native-country'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [265]:
# we clean the non string datas
census = census[census['native-country'] != ' ?']
census = census[census['occupation'] != ' ?']

In [266]:
census.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,30162.000000,3.016200e+04,30162.000000,30162.000000,30162.000000,30162.000000
mean,38.437902,1.897938e+05,10.121312,1092.007858,88.372489,40.931238
std,13.134665,1.056530e+05,2.549995,7406.346497,404.298370,11.979984
min,17.000000,1.376900e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.176272e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.784250e+05,10.000000,0.000000,0.000000,40.000000
75%,47.000000,2.376285e+05,13.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [268]:
# Number of people of each race represented in the dataset
census["race"].value_counts()

 White                 25933
 Black                  2817
 Asian-Pac-Islander      895
 Amer-Indian-Eskimo      286
 Other                   231
Name: race, dtype: int64

In [274]:
# average age of men
ave_age_men=census.loc[census['sex']==' Male', 'age'].mean()
round(ave_age_men , 1)

39.2

In [339]:
#percentage of people who have a Bachelor's degree

total_with_bachelors=(census['education'] == ' Bachelors').sum()
total_people= census.shape[0]
percentage_with_bachelors= (total_with_bachelors / total_people) * 100
round(percentage_with_bachelors, 1)

16.7

In [348]:
# percentage of people with advanced education 
#(Bachelors, Masters, or Doctorate) make more than 50K

total_with_adv_edu =  ((census['education'].isin([' Bachelors', ' Masters', ' Doctorate'])) &(census['salary']== ' >50K')).sum()
percent_with_adv_edu= (total_with_adv_edu / total_people)*100
round(percent_with_adv_edu,1)

11.0

In [347]:
#Â Another Way
# percentage of people with advanced education 
#(Bachelors, Masters, or Doctorate) make more than 50K

total_with_adv_Edu=census.loc[(census['salary'] == ' >50K') & ((census['education']== ' Bachelors')|(census['education'] == ' Masters')| (census['education']== ' Doctorate' ))]
round(total_with_adv_Edu.shape[0]/total_people * 100 , 1)

11.0

In [349]:
# percentage of people without advanced education make more than 50K

total_without_adv_edu =  (~((census['education'].isin([' Bachelors', ' Masters', ' Doctorate']))) &(census['salary']== ' >50K')).sum()
percent_without_adv_edu= (total_without_adv_edu / total_people)*100
percent_without_adv_edu

13.9

In [351]:
#What is the minimum number of hours a person works per week?
minum_hour_work=census['hours-per-week'].min()
minum_hour_work

1

In [352]:
# percentage of the people who work the minimum number of hours per week have a 
# salary of more than 50K
total_with_min_hour=(census.loc[(census['hours-per-week']== minum_hour_work) & (census['salary']== ' >50K')]).shape[0]
percen_with_min_hour= total_with_min_hour/ total_people * 100
round(percen_with_min_hour, 1)

0.0

In [360]:
#What country has the highest percentage of people that earn >50K and what is that percentage?
country_with_hig= census.loc[census['salary']== ' >50K', 'native-country'].value_counts()
country_with_hig.head(1)

 United-States    6995
Name: native-country, dtype: int64

In [364]:
#percentage of country with the highest percentage of people that earn >50K
percentage= country_with_hig.head(1) / country_with_hig.sum() * 100
peecentage

 United-States    93.167288
Name: native-country, dtype: float64

In [359]:
#Identify the most popular occupation for those who earn >50K in India.
census.loc[(census['salary']== ' >50K') & (census['native-country']== ' India'), 'occupation'].head(1)

11     Prof-specialty
Name: occupation, dtype: object